<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Fishing Live Well</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">Fishing Live Well</a>
                </div>
                <div>
                    <a href="myLures.html">My Lures</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <ul>
                    <li>Lure 1</li>
                    <li>Lure 2</li>
                    <li>Lure 3</li>
                    <li>Lure 4</li>
                </ul>
            </main>
            <footer class="row center">
                by: Danny Padron
            </footer>
        </div>
    </body>
</html>