<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <title>Fishing Live Well</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">Fishing Live Well</a>
                </div>
                <div>
                    <a href="myLures.html">My Lures</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="lure.html">
                            <img class="medium" src="./images/lure1.jpg" alt="lure" />
                        </a>
                        <div class="card-body">
                            <a href="lure.html">
                                <h2>BioSpawn VileCraw 4"</h2>
                            </a>
                            <div class="do-i-own">
                                <span>
                                    <i class="fas fa-check-square"></i>
                                </span>
                                <span>
                                    <i class="fas fa-check-square"></i>
                                </span>
                            </div>
                            <div class="price">
                                $5
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">
                by: Danny Padron
            </footer>
        </div>
    </body>
</html>